.switch
{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: 0;
}

.switch:before
{
	content: 'a';
	opacity: 0;
}

.switch input
{
	display:none;
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.select-all:checked + .slider
{
  background-color: #2883ab;
}

.select-all:focus + .slider
{
  box-shadow: 0 0 1px #2883ab;
}

.select-all:checked + .slider:before
{
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round
{
  border-radius: 34px;
}

.slider.round:before
{
  border-radius: 50%;
}

.select
{
	background: #fff;
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 1px 0 0 0;
	text-align: center;
	transition: .2s;
	color: transparent;
	border: 1px solid #afafaf;
	top: 1px;
	position: relative;
}

.select span
{
	font-size: 15px;
	position: relative;
}

.select:hover,
.content-body .select-installer:hover .select
{
	color: #cccccc;
	cursor: pointer;
}

.select input[type='checkbox']
{
	display: none;
}

.select input[type='checkbox']:checked + span
{
	color: #2883ab;
}

.loading-indication
{
	position: fixed;
	width: 100%;
	z-index: 99999;
	top: 0;
}

.loading-indication div.bg-loading
{
	background: #060606;
	height: 100vh;
	opacity: 0.5;
}

.loading-indication img
{
	position: absolute;
	z-index: 9;
	top: 40vh;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
}

.notif-title
{
  font-size: 23px;
  text-align: center;
  color: #546674;
  margin-top: 0;
}

.notif-icon
{
  font-size: 22px;
  text-align: center;
  color: #fff;
  background: #5fcd71;
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 50%;
  border: 10px solid #eaf9f0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

.notif-icon.failed
{
  background: #f24951;
  border-color: #fce9ed;
}

.notif-desc
{
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  color: #89878c;
  font-size: 15px;
}

.notif-desc .download-list
{
	background: #f3f3f3;
	text-align: left;
	padding: 10px 15px;
}

.notif-desc .download-list .label
{
	display: block;
	color: #4CAF50;
	font-size: 14px;
	text-align: left;
	padding: 0;
	margin-bottom: 10px
}

.notif-desc .download-list.failed .label
{
	color: #f24951;
}

.notif-desc .download-list .data
{
	font-size: 13px;
	color: #546674;
	margin-bottom: 10px;
	display: block;
}

.notif-desc .download-list .data .filename
{
	font-weight: bold;
}

.notif-btn
{
  color: #fff;
  background: #5fcd71;
  margin-top: 20px;
  width: 230px;
  font-size: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
	border-radius: 20px;
	outline: none;
}

.notif-btn:hover,
.notif-btn:active,
.notif-btn:focus
{
	color: #d2d2d2;
	outline: none;
}

.notif-btn.failed
{
  background: #f24951;
}

.content-wrapper
{
	max-width: 1366px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
}

.content-header
{
	position: fixed;
	background: #2883ab;
	color: #ffffff;
	padding: 0;
	height: 64px;
	z-index: 1;
}

.content-header .title
{
	font-size: 20px;
	padding: 12px;
	margin: 0;
	background: transparent;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(20%);
}

.content-body
{
	margin-top: 85px;
	background: #ffffff;
}

.content-body .home-menu
{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 65%);
	padding: 20px;
}

.content-body .home-menu .button-wrapper
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content-body .home-menu .button
{
	background: #f1f1f1;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: #2883ab;
	border: 1px solid #2883ab;
	border-radius: 5px;
	height: 150px;
	display: block;
}

.content-body .home-menu .button:hover
{
	background: #e8e8e8;
}

.content-body .home-menu .button i
{
	font-size: 25px;
}

.content-body .home-menu .button span
{
	font-size: 16px;
	display: block;
	margin-top: 10px;
}

.content-body .table tr td
{
	padding: 0;
}

.content-body .table-list-iso tr th
{
	text-align: center;
	font-size: 14px;
}
.content-body .table-list-iso tr td
{
	padding: 10px 8px;
	font-size: 14px;
	vertical-align: middle;
}

.content-body .select-installer
{
	width: 100%;
	font-weight: normal;
	padding: 12px 8px;
	margin-bottom: 0;
}

.content-body .select-installer:hover
{
	cursor: pointer;
	background: #cacaca;
}